{% extends 'tienda/base.html.twig' %}


{% block stylesheets_extra %}
	<link rel='stylesheet' href="{{ asset('build/tienda.css')}}">

{% endblock %}


{% block body %}

  <body>
    <div class="container1">
      <div class="row" >
        <div class="a">
                <h1 class="card-title">Nos reinventamos <br>contigo</h1>
                <button class="btn">Ver productos</button>
        </div>
        <div class="b">
                <img id="fruta"src="https://storage.googleapis.com/itg_statics_mimercadona/media/seasons/banners/banner_healthy.jpg" width="300">
        </div>
        </div>
      </div>

  

<div id="productos"class="container">
      <div class="row">
      {% for producto in productos %}
        <div class="col15"> 
        <div class="card">
          <img src="{{ producto.imagen }}" alt="Symfony!" />
          <div class="card-body">
            <p class="card-title">{{ producto.nombre }}</p>
            <p class="card-title1">{{ producto.descripcion }}</p>
            <p class="card-text"><b>{{ producto.precio|number_format(2, '.', ',') }} €</b>/ud.</p>
            <div class="dropdown-divider"></div>
            <button id="producto" type="button" class="btn ">Añadir al carro</button>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
     </div>
  </body>
{% endblock %}



