{% extends 'tienda/base.html.twig' %}


{% block stylesheets_extra %}
	<link rel='stylesheet' href="{{ asset('build/tienda.css')}}">

{% endblock %}


{% block body %}

  <body>
       <div id="primer"class="container">
        <div class="row">
        <div id="segundo"class="col"style="background-color: #65a4a4;">
         <h1 class="card-title">Nos reinventamos <br>contigo</h1>
                <a href="#" class="btn btn-primary">Ver productos</a>
           </div>
        <div class="col">
          <img src="https://storage.googleapis.com/itg_statics_mimercadona/media/seasons/banners/banner_healthy.jpg" width="300">
           </div>
        </div>
      </div>


<div id="productos"class="container">
      <div class="row">
      {% for producto in productos %}
        <div class="col15"> 
        <div class="card">
          <img src="{{ producto.imagen }}" alt="Symfony!" />
          <div class="card-body">
            <p class="card-title">{{ producto.nombre }}</p>
            <p class="card-title">{{ producto.descripcion }}</p>
            <p class="card-text"><b>{{ producto.precio|number_format(2, '.', ',') }} €</b>/ud.</p>
            <div class="dropdown-divider"></div>
            <button type="button" class="btn btn-outline-warning" border-radius:"30px">Añadir al carro</button>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
     </div>
  </body>
{% endblock %}



